<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NwindBusinessObjects.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AirtoursBusinessObjects.Properties.Settings.AirtoursConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Airtours;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>